<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Utils</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Welcome to the text analyser. Enter your text below </h1>
        
        <form action='/analyse' method='get'>
            <textarea name='text' style="margin: 0px; width: 1319px; height: 130px;"> </textarea><br>

            <input type="checkbox" name="removepunc"> Remove Punctuations<br>
            <input type="checkbox" name="fullcaps">Uppercase<br>
            <input type="checkbox" name="newlineremover">New Line Remover<br>
            <input type="checkbox" name="spaceremover">Space Remover<br>
            <input type="checkbox" name="charactercount">Character Count<br>
            <button type="submit">Analyse Text </button>



        <form>
        <script src="" async defer></script>
    </body>
</html>